@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    height: inherit;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


